.table__button {
    position: absolute;
    cursor: pointer;
    width: 48px;
    height: 48px;
    font-family: FontAwesome;
    color: #fff;
    border: 0;
    outline: none;
    transition: background-color 2s;
}
.table__button_remove {
    opacity: 1;
    background-color: #b10000;
    transition: .3s;
}
.table__button_remove:hover {
    background-color: #c74b48;
}

.table__button_remove::before {
    content: '\f068';
}
.table__button_hidden {
    visibility: hidden;
    opacity: 0;
}
.table__button_add {
    background-color: #f2a400;
}
.table__button_add::before {
    content: '\f067';
}
.table__button_add:hover {
    background-color: #f4be52;
}
.table__button_remove-row {
    right: 100%;
    margin: 1px 3px 0 0;
}
.table__button_remove-col {
    bottom: 100%;
    margin: 0 0 3px 1px;
}
.table__button_add-row {
    top: 100%;
    margin: 3px 0 0 3px;
}
.table__button_add-col {
    left: 100%;
    margin: 3px 0 0 3px;
}